.confirm__form-content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__form-heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    font-weight: bold;
    text-align: left;
}

.confirm-table__text {
    padding: 15px;
    font-size: 15px;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 15px;
}

.form__button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.form__correction {
    color: #000;
}